@page "/"
@attribute [StreamRendering]
@attribute [OutputCache(Duration = 5)]

@inject UsersApiClient UsersApi

<PageTitle>Users</PageTitle>

<div class="page">
    <header>
        <h1 class="h1">Users</h1>
        <p>This component demonstrates showing data loaded from a backend API service.</p>
    </header>
    <section>
        @if (Users is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <Paper>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Email</th>
                        <th scope="col">Display Name</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Users.Count == 0)
                    {
                        <tr>
                            <td colspan="100">
                                <em class="text-gray-400">No users found.</em>
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var user in Users)
                        {
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.EmailAddress</td>
                                <td>@user.DisplayName</td>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </Paper>
        }
    </section>
</div>

@code {
    private List<UserSummary>? Users { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Users = await UsersApi.ListUsersAsync();
    }
}
