<div class="flex h-16 shrink-0 items-center">
    <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company" class="h-8 w-auto" />
</div>
<nav class="flex flex-1 flex-col">
    <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <li>
            <ul role="list" class="-mx-2 space-y-1">
                @foreach (var navLink in EnumerateNavLinks())
                {
                    <li>
                        <NavLink ActiveClass="active bg-gray-50 text-indigo-600 dark:bg-white/5 dark:text-white [&>svg]:text-indigo-600 [&>svg]:dark:text-white"
                                 Match="@navLink.Match"
                                 class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-700 dark:text-gray-400 hover:bg-gray-50 dark:hover:bg-white/5 hover:text-indigo-600 dark:hover:text-white"
                                 href="@navLink.Href">
                            @navLink.Content
                            @navLink.Text
                        </NavLink>
                    </li>
                }
            </ul>
        </li>
        <AppAuthorizeView>
            <li class="-mx-6 mt-auto">
                <a href="auth" class="hidden lg:flex items-center gap-x-4 px-6 py-3 text-sm/6 font-semibold text-gray-900 hover:bg-gray-50 dark:text-white dark:hover:bg-white/5 ">
                    @AppIcon.AnonymousAvatar()
                    <span class="sr-only">Your profile</span>
                    <span aria-hidden="true">@context.DisplayName</span>
                </a>
            </li>
        </AppAuthorizeView>
    </ul>
</nav>

@code {
    private sealed record NavLinkInfo(string Text, string Href, RenderFragment Content, NavLinkMatch Match = NavLinkMatch.Prefix);
    private static IEnumerable<NavLinkInfo> EnumerateNavLinks()
    {
        yield return new NavLinkInfo("Dashboard", "", AppIcon.Home(), NavLinkMatch.All);
        yield return new NavLinkInfo("Team", "weather", AppIcon.Users());
        yield return new NavLinkInfo("Projects", "projects", AppIcon.Folder());
        yield return new NavLinkInfo("Calendar", "calendar", AppIcon.Calendar());
        yield return new NavLinkInfo("Documents", "documents", AppIcon.Files());
        yield return new NavLinkInfo("Reports", "reports", AppIcon.PieChart());
    }
}